<h1>Painel Administrativo</h1>

<ul>
  <li><a href="/admin/listar">Listar Artistas</a></li>
  <li><a href="/admin/listarMusicas">Listar Músicas</a></li>
  <li><a href="/admin/listarPlaylists">Listar Playlists</a></li>
  <li><a href="/admin/associarPlaylistMusica">Associar Música à Playlist</a></li>
</ul>
