<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Coldplay - Detalhes</title>
  <link rel="stylesheet" href="/stylesheets/style-player.css">
</head>
<body>

  <div class="detalhes-container">
    <img src="/images/coldplay.png" class="artista-img" alt="Coldplay">
    <h1>Coldplay</h1>
    <p>Banda britânica de rock alternativo conhecida por sucessos como "Yellow", "Fix You" e "A Sky Full of Stars".</p>

    <h2>Músicas populares</h2>
    <ul class="musicas-populares">
      <li>
        <img src="/images/player-coldplay.png" class="musica-img" alt="A Sky Full of Stars">
        <span>A Sky Full of Stars</span>
      </li>
      <li>
        <img src="/images/yellow.png" class="musica-img" alt="Yellow">
        <span>Yellow</span>
      </li>
      <li>
        <img src="/images/fixyou.png" class="musica-img" alt="Fix You">
        <span>Fix You</span>
      </li>
    </ul>

    <a href="/" class="voltar">← Voltar à Home</a>
  </div>

</body>
</html>
