<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>MusicVibe Player</title>
  <link rel="stylesheet" href="/stylesheets/style-player.css">
</head>

<body>
 
  <div class="container">

    <!-- Seção superior -->
    <div class="top-section">
      <button class="back-btn" onclick="window.history.back();">&larr;</button>
      <p class="playlist-label">Playlist</p>
      <h2 class="artist-name">Coldplay</h2>
      <img src="/images/player.coldplay.png" alt="Coldplay" class="album-cover">
    </div>

    <!-- Seção inferior -->
    <div class="bottom-section">
      
      <div class="song-title">A Sky Full of Stars</div>

      <!-- Simulação do waveform -->
      <div class="waveform">
        <div style="height: 20px;"></div>
        <div style="height: 30px;"></div>
        <div style="height: 40px;"></div>
        <div style="height: 60px;"></div>
        <div style="height: 50px;"></div>
        <div style="height: 25px;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 50px;"></div>
        <div style="height: 30px;"></div>
        <div style="height: 50px;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 10px;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 60px;"></div>
        <div style="height: 30px;"></div>
        <div style="height: 40px;"></div>
        <div style="height: 50px;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 25px;"></div>
        <div style="height: 30px;"></div>
        <div style="height: 10px;"></div>
        <div style="height: 30px;"></div>
        <div style="height: 35px;"></div>
        <div style="height: 60px;"></div>
        <div style="height: 40px;"></div>
        <div style="height: 30px;"></div>
        <div style="height: 60px;"></div>
        <div style="height: 40px;"></div>
        <div style="height: 50px;"></div>
        <div style="height: 40px;"></div>
        <div style="height: 10px;"></div>
      </div>

      <!-- Controles -->
      <div class="controls">
        <button class="control-btn">&laquo;</button>
        <button class="play-button">&#10074;&#10074;</button>
        <button class="control-btn">&raquo;</button>
      </div>
    </div>
  </div>
</body>

</html>