
body {
  background-color: #111;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 80px;
}

.botao-direita {
  display: flex;
  justify-content: flex-end; /* Move o botão para a direita */
  margin-top: 20px;
}


.logo {
  width: 150px;
  height: auto;
}

.login-button {
  background-color: black;
  border: 2px solid #a259ff; /* tom de roxo da imagem */
  color: white;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #a259ff;
  color: black;
}


.login-container {
  background-color: #111;
  border: 1px solid #772BF2;
  padding: 40px;
  border-radius: 8px;
  width: 350px;
  text-align: center;
}

h2 {
  font-family: Arial, sans-serif;
  margin-bottom: 30px;
  font-size: 23px;
}

label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
}

input[type="email"],
input[type="password"] {
  width: 93%;
  padding: 10px;
  border: 2px solid #772BF2;
  background-color: #111;
  color: white;
  border-radius: 8px;
  outline: none;
  margin-bottom: 10px;
  font-size: 16px;
}

a {
  display: block;
  color: white;
  margin: 10px 0 20px;
  font-size: 14px;
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #772bf2;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #772bf2;
  color: black;
}

.form-group {
  display: flex;
  flex-direction: column;

  gap: 8px; /* espaço entre os elementos */
}

.input-senha {
  padding: 10px;
  border: 2px solid #8a2be2;
  border-radius: 8px;
  background-color: #111;
  color: white;
  width: 100%;       /* ou defina um tamanho fixo */
}

.link-criar {
  color: white;
  text-decoration: underline;
  font-size: 16px;
  margin-left: 0; /* garante alinhamento à esquerda */
  text-align: left;
  margin-top: -5px;
  
}

body {                    /* cadastro */
  
  background-color: #000;
  font-family: 'Arial', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 80px;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-box {
  background-color: #111;
  padding: 40px 30px;
  border: 1px solid #9b59b6;
  border-radius: 8px;
  width: 350px;
  text-align: center;
  min-height: 520px;
  padding-top: 80px;
}

.logo {
  width: 150px;
  height: auto;
}

.title {
  color: #9b59b6;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

input[type="email"],                              
input[type="password"] {
  width: 90%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #9b59b6;
  border-radius: 8px;
  background-color: #111;
  color: #fff;
  outline: none;
  font-size: 16px;

  

  
}

button {
  width: 40%;
  padding: 15px;
  background-color: #8D3585;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #6044ad;
}

.login-link {
  margin-top: 10px;
  font-size: 12px;
}

.login-link a {
  color: #9b59b6;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}


