* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(to bottom, #4b006e 0%, #4b006e 50%, #131313 50%, #131313 50%);
  height: 70vh;
  width: 28vw;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #000;
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 1rem;
}

.album-cover {
  width: 300px;
  border-radius: 20px;
  margin: 1rem auto;
  display: block;
}

.song-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.waveform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 1.5rem;
  gap: 4px;

}

.waveform div {
  width: 4px;
  background-color: white;
  border-radius: 3px;
  opacity: 0.6;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 18px;

}

.play-button {
  background: linear-gradient(to bottom, #2a72f8, #1a3fbf);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  color: white;
  box-shadow: 0 0 10px #2a72f8;
}

.back-btn {
  position: absolute;
  top: 10rem;
  left: 43rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.playlist-label {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #ccc;
}

.artist-name {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}